<!DOCTYPE html>
<html>
<body>

h1 {
  color: green;
  
}

.myNewStyle {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #FF0000;
}

#t {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: #FF00FF;
}



</body>